* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  header {
    background-color: #fff;
    padding: 20px;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  .connect-wallet {
    background-color: orange;
    border: none;
    padding: 8px 12px;
    color: #fff;
    cursor: pointer;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items
  }

  .div-fhw {
    display:flex:width: ;;
  }
